
Q1. Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

In [54]:
arr =[1,2,3,4,5,6,13]

for i in range(0,7):
   for j in range(i+1,7):
       if(arr[i]+arr[j]==14):
           print(arr[i],arr[j])

1 13

Q2. Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. The order of the elements may be changed. Then return the number of elements in nums which are not equal to val.

Example:
Input: nums = [3,2,2,3], val = 3
Output: 2, nums = [2,2,_,_]

In [55]:
arr=[3,2,2,3]
val=3

for i in range(0,3):
    if (arr[i]==val):
        arr.remove(val)

arr

[2, 2]


Q3. Given a sorted array of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You must write an algorithm with O(log n) runtime complexity.
Example:
Input: nums = [1,3,5,6], target = 5
output:2

In [56]:
arr2=[1,2,3,6,5,4]
val=5
for i in range(0,6):
    if (arr2[i]==val):
       print(i)

4

Q4. You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Increment the large integer by one and return the resulting array of digits.

**Example 1:**
Input: digits = [1,2,3]
Output: [1,2,4]

**Explanation:** The array represents the integer 123.

Incrementing by one gives 123 + 1 = 124.
Thus, the result should be [1,2,4].

In [57]:
dig_arr=[1,2,3,4]
temp=0
for i in range(0,4):
    if (temp < dig_arr[i]):
       temp= dig_arr[i]
print(temp)

for j in range(0,4):
    if dig_arr[j]==temp:
       dig_arr[j]=dig_arr[j]+1

dig_arr

4

[1, 2, 3, 5]


Q5.You are given two integer arrays nums1 and nums2, sorted in non-decreasing order, and two integers m and n, representing the number of elements in nums1 and nums2 respectively.

Merge nums1 and nums2 into a single array sorted in non-decreasing order.

The final sorted array should not be returned by the function, but instead be stored inside the array nums1. To accommodate this, nums1 has a length of m + n, where the first m elements denote the elements that should be merged, and the last n elements are set to 0 and should be ignored. nums2 has a length of n.

**Example 1:**
Input: nums1 = [1,2,3,0,0,0], m = 3, nums2 = [2,5,6], n = 3
Output: [1,2,2,3,5,6]

**Explanation:** The arrays we are merging are [1,2,3] and [2,5,6].
The result of the merge is [1,2,2,3,5,6] with the underlined elements coming from nums1.

In [58]:
nums1 = [1,2,3,0,0,0]
nums2 = [2,5,6]
num=[]
m=3
for i in range(0,m):
    num.append(nums1[i])

nums3=num+nums2
nums3.sort()
nums3

[1, 2, 2, 3, 5, 6]


Q6. Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.
Example:
Input: nums = [1,2,3,1]

Output: True

In [10]:
#To find repeated items in a list
arr2= [1,2,1,9,3,1]
siz=len(arr2)
for i in range(0,6):
    for j in range(i+1,6):
       if (arr2[i] == arr2[j]):
           print(i,j)
  #return True   
       #else:
           #print('False')

0 2
0 5
2 5

<aside>
Q7.Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the nonzero elements.

Note that you must do this in-place without making a copy of the array.
Example 1:
Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

In [60]:
num=[0,1,0,3,12]
size=len(num)
for i in range(0,size-1):
    if (num[i]==0):
       num.remove(num[i])
       num.append(0)
       

num

[1, 3, 12, 0, 0]

Q8. You have a set of integers s, which originally contains all the numbers from 1 to n. Unfortunately, due to some error, one of the numbers in s got duplicated to another number in the set, which results in repetition of one number and loss of another number.

You are given an integer array nums representing the data status of this set after the error.

Find the number that occurs twice and the number that is missing and return them in the form of an array.

Example 1:
Input: nums = [1,2,2,4]
Output: [2,3]

In [61]:
nums_1=[1,2,2,4]
print(nums_1)
for i in range(0,len(nums_1)-1):
    if(nums_1[i+1]!=nums_1[i]+1):
       print(nums_1[i],nums_1[i]+1)
       nums_1[i+1]=nums_1[i]+1

nums_1

[1, 2, 2, 4]
2 3

[1, 2, 3, 4]